.mainCarousel {
  text-align: left !important;
  max-width: 626px;

  .title {
    font-weight: 700;
    font-size: 32px;
    line-height: 48px;
  }

  .badge {
    border-radius: 20px;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
  }

  .description {
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
  }
}

.wrapBtn {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  .btnWatchNow {
    background-color: #ff0000;
    color: #ffffff;
    width: 223px;
    height: 76px;
    border-radius: 5px;
    cursor: pointer;

    div {
      font-weight: 700;
      font-size: 24px;
      line-height: 36px;
    }

    img {
      width: 31px;
      height: 31px;
    }

    @media screen and (max-width: 768px) {
      width: 190px;
      height: 66px;
    }

    @media screen and (max-width: 576px) {
      width: 150px;
      height: 50px;

      div {
        font-weight: 700;
        font-size: 14px;
        line-height: 26px;
      }

      img {
        width: 15px;
        height: 15px;
      }
    }
  }

  .btnWatchLater {
    border: solid #ff0000;
    color: #ffffff;
    width: 223px;
    height: 76px;
    border-radius: 5px;
    cursor: pointer;

    div {
      font-weight: 700;
      font-size: 24px;
      line-height: 36px;
    }

    img {
      width: 20px;
      height: 20px;
    }

    @media screen and (max-width: 768px) {
      width: 190px;
      height: 66px;
    }

    @media screen and (max-width: 576px) {
      width: 150px;
      height: 50px;

      div {
        font-weight: 700;
        font-size: 14px;
        line-height: 26px;
      }

      img {
        width: 15px;
        height: 15px;
      }
    }
  }
}
